@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  body{
    background-color: #f3fffd;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
  }
  
  
  main{
    margin-top: 80px; /* Ajusta este valor para separar del header */
    margin-bottom: 80px; /* Ajusta este valor para separar del footer */
    padding: 20px; /* Espacio interno opcional */
    font-weight: 800;
    font-size: 12px;
    font-family: "Forum", serif;
  }
  
  
  



#datos{

    color: aliceblue;
    text-align: left;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #titulo {
    color: aliceblue;
    text-align: center;
  }
  
  .contenedor_FormReg{
    margin: 65px 0;
        justify-content: center;
        color: rgb(0, 0, 0);
        font-size: x-large;
        text-align:center;
        display: flex;
        border: 1px solid #edeeee;
        padding: 20px;
        background-color: #edeeee;
        border-radius: 20px;
        box-shadow: 0 2px 5px black;
        max-width: 600px; 
        margin: 40px auto; 
    
    }

    .contenedor-input{
        position:relative;
        width: 90%;
        height: 50px;
        border-bottom: 2px solid antiquewhite;
        margin: 30px 0;
    
    }
    
    .contenedor-input label{
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        font-weight: 600;
        pointer-events: none;
        transition: .4s;
        color: rgb(0, 0, 0);
    }
    .contenedor-input input:placeholder-shown ~ label {
        top: 50%;
        transform: translateY(-50%);
      }
      
      .contenedor-input input:not(:placeholder-shown) ~ label {
        top: -5px;
      }
    /* .contenedor-input input:focus~label,
    .contenedor-input input:active ~label{
        top:-5px;
    } */
    
    .contenedor-input input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color:rgb(2, 2, 2);
        padding: 0 35px 0 5px;
    }
    
    .contenedor-input .icono{
        position: absolute;
        right: 8px;
        font-size: 1.4em;
        color:rgb(18, 143, 61);
        line-height: 57px;
    }
    #registro{
        text-decoration: none;
        color:aqua;
    }
    #registro:hover{
        color: rgb(18, 143, 61);
        text-decoration: underline;
    }

   #img-contenedor{
margin-bottom: 70px;
    }
    .inputImgPerfil {
        margin-top: 0.1px; /* Más margen para separarlo del formulario */
        text-align: center; /* Centrado de la imagen */
    }
    
    #imgPerfil {
        display: block;
        margin: 15px auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid antiquewhite;
    }
    #psw-contenedor,#psw-contenedor2{
        display:none; 
    }
    #psw-change{
      
        margin: 15px 0;
    }
    main button{
        margin: auto 10px;
    }

    .eliminar{
        background-color: red !important;
    }
    .eliminar:hover{
        background-color: #890202 !important;
    }
    .mod:hover{
        background-color: #0056b3 !important;
    }